In [1]:
import pandas as pd
import numpy as np

In [2]:
filename ="BANKNIFTY_2023-09-13_option_chain_2023-09-09-07-59-50.csv"

In [3]:
df = pd.read_csv(filename)

In [4]:
df.head()

,Put Gamma,Put Vega,Put Theta,Put Delta,PCR,Put POP %,Put Volume,Put OI Change,Put Change %,Put OI,...,Call Offer Price,Call OI,Call Change %,Call OI Change,Call Volume,Call POP %,Call Delta,Call Theta,Call Vega,Call Gamma
0,0.00000,0.96,-3.64,-0.01,8471,0,3008475.00,146835.00,62.90,380115.00,...,4799.80,45.00,0.00,45.00,135.00,0.51,0.99,-3.64,0.96,0.00000
1,0.00000,1.14,-3.94,-0.01,1238.24,0,7840080.00,201060.00,31.70,834510.00,...,4201.25,660.00,-4.30,-30.00,195.00,0.47,0.99,-3.94,1.14,0.00000
2,0.00000,1.25,-3.94,-0.01,--,0.01,1044210.00,-25020.00,-16.70,125130.00,...,3913.65,0.00,0.00,0.00,0.00,--,0.99,-3.94,1.25,0.00000
3,0.00000,1.20,-3.65,-0.01,356.84,0.01,10427580.00,-25530.00,-3.00,824400.00,...,3764.25,2475.00,385.30,1965.00,6225.00,0.51,0.99,-3.65,1.20,0.00000
4,0.00000,1.46,-4.50,-0.01,--,0.01,969690.00,-80280.00,-56.20,62445.00,...,3714.05,0.00,0.00,0.00,0.00,--,0.99,-4.50,1.46,0.00000

In [6]:
df.dtypes

Put Gamma                     object
Put Vega                      object
Put Theta                     object
Put Delta                     object
PCR                           object
Put POP %                     object
Put Volume                    object
Put OI Change                 object
Put Change %                  object
Put OI                        object
Put Bid Price                 object
Put Offer Price               object
Put Intrinsic Value(Fut)      object
Put Intrinsic Value(Spot)     object
Put Time Value                object
Put LTP                       object
Strike                         int64
IV                            object
Instrument                    object
Call LTP                      object
Call Time Value               object
Call Intrinsic Value(Spot)    object
Call Intrinsic Value(Fut)     object
Call Bid Price                object
Call Offer Price              object
Call OI                       object
Call Change %                 object
Call OI Change                object
Call Volume                   object
Call POP %                    object
Call Delta                    object
Call Theta                    object
Call Vega                     object
Call Gamma                    object
dtype: object

In [11]:
df = df[df.putgamma != '--']
df = df[df.callgamma != '--']
df = df[df.pcr != '--']
df = df[df['putpop%'] != '--']

In [12]:
columns = [ x.replace(' ','').lower() for x in df.columns ]
df.columns = columns

In [13]:
float_columns = ['putgamma', 'putvega', 'puttheta', 'putdelta', 'pcr', 'putpop%',
        'putchange%',  'putbidprice',
       'putofferprice', 'putintrinsicvalue(fut)', 'putintrinsicvalue(spot)',
       'puttimevalue', 'putltp',  'iv',  'callltp',
       'calltimevalue', 'callintrinsicvalue(spot)', 'callintrinsicvalue(fut)',
       'callbidprice', 'callofferprice',  'callchange%',
        'callpop%', 'calldelta', 'calltheta',
       'callvega', 'callgamma']

for col in float_columns:
    print(col)
    df[col] = df[col].astype(np.float64)

putgamma
putvega
puttheta
putdelta
pcr
putpop%
putchange%
putbidprice
putofferprice
putintrinsicvalue(fut)
putintrinsicvalue(spot)
puttimevalue
putltp
iv
callltp
calltimevalue
callintrinsicvalue(spot)
callintrinsicvalue(fut)
callbidprice
callofferprice
callchange%
callpop%
calldelta
calltheta
callvega
callgamma

In [14]:
df.dtypes

putgamma                    float64
putvega                     float64
puttheta                    float64
putdelta                    float64
pcr                         float64
putpop%                     float64
putvolume                    object
putoichange                  object
putchange%                  float64
putoi                        object
putbidprice                 float64
putofferprice               float64
putintrinsicvalue(fut)      float64
putintrinsicvalue(spot)     float64
puttimevalue                float64
putltp                      float64
strike                        int64
iv                          float64
instrument                   object
callltp                     float64
calltimevalue               float64
callintrinsicvalue(spot)    float64
callintrinsicvalue(fut)     float64
callbidprice                float64
callofferprice              float64
calloi                       object
callchange%                 float64
calloichange                 object
callvolume                   object
callpop%                    float64
calldelta                   float64
calltheta                   float64
callvega                    float64
callgamma                   float64
dtype: object

In [15]:
df[['putgamma','putdelta','strike','instrument']]

    putgamma  putdelta  strike instrument
0     0.0000     -0.01   40500  BANKNIFTY
1     0.0000     -0.01   41000  BANKNIFTY
3     0.0000     -0.01   41500  BANKNIFTY
7     0.0000     -0.01   41900  BANKNIFTY
8     0.0000     -0.01   42000  BANKNIFTY
9     0.0000     -0.01   42100  BANKNIFTY
10    0.0000     -0.01   42200  BANKNIFTY
11    0.0000     -0.01   42300  BANKNIFTY
12    0.0000     -0.01   42400  BANKNIFTY
13    0.0000     -0.01   42500  BANKNIFTY
14    0.0000     -0.01   42600  BANKNIFTY
15    0.0000     -0.01   42700  BANKNIFTY
16    0.0000     -0.02   42800  BANKNIFTY
17    0.0000     -0.02   42900  BANKNIFTY
18    0.0000     -0.02   43000  BANKNIFTY
19    0.0000     -0.02   43100  BANKNIFTY
20    0.0001     -0.02   43200  BANKNIFTY
21    0.0001     -0.02   43300  BANKNIFTY
22    0.0001     -0.03   43400  BANKNIFTY
23    0.0001     -0.03   43500  BANKNIFTY
24    0.0001     -0.04   43600  BANKNIFTY
25    0.0001     -0.04   43700  BANKNIFTY
26    0.0001     -0.05   43800  BANKNIFTY
27    0.0001     -0.05   43900  BANKNIFTY
28    0.0002     -0.06   44000  BANKNIFTY
29    0.0002     -0.07   44100  BANKNIFTY
30    0.0002     -0.09   44200  BANKNIFTY
31    0.0003     -0.10   44300  BANKNIFTY
32    0.0003     -0.12   44400  BANKNIFTY
33    0.0004     -0.15   44500  BANKNIFTY
34    0.0004     -0.17   44600  BANKNIFTY
35    0.0005     -0.21   44700  BANKNIFTY
36    0.0005     -0.26   44800  BANKNIFTY
37    0.0006     -0.31   44900  BANKNIFTY
38    0.0007     -0.37   45000  BANKNIFTY
39    0.0007     -0.44   45100  BANKNIFTY
40    0.0008     -0.51   45200  BANKNIFTY
41    0.0007     -0.59   45300  BANKNIFTY
42    0.0007     -0.66   45400  BANKNIFTY
43    0.0006     -0.73   45500  BANKNIFTY
44    0.0006     -0.79   45600  BANKNIFTY
45    0.0005     -0.84   45700  BANKNIFTY
46    0.0004     -0.87   45800  BANKNIFTY
47    0.0003     -0.91   45900  BANKNIFTY
48    0.0002     -0.93   46000  BANKNIFTY
49    0.0002     -0.94   46100  BANKNIFTY
50    0.0002     -0.96   46200  BANKNIFTY
51    0.0001     -0.96   46300  BANKNIFTY
53    0.0001     -0.98   46500  BANKNIFTY
54    0.0001     -0.98   46600  BANKNIFTY
57    0.0000     -0.99   46900  BANKNIFTY
58    0.0000     -0.99   47000  BANKNIFTY
59    0.0000     -0.99   47100  BANKNIFTY
63    0.0000     -0.99   47500  BANKNIFTY
66    0.0000     -0.99   48000  BANKNIFTY
71    0.0000     -1.00   50500  BANKNIFTY

In [16]:
df_puts = df[df['putdelta'] > -0.55]

In [17]:
df_puts_t = df_puts[[ 'instrument','strike','putltp', 'iv','putgamma', 'putvega', 'puttheta', 'putdelta']]

In [20]:
df.head()

,putgamma,putvega,puttheta,putdelta,pcr,putpop%,putvolume,putoichange,putchange%,putoi,...,callofferprice,calloi,callchange%,calloichange,callvolume,callpop%,calldelta,calltheta,callvega,callgamma
0,0.0,0.96,-3.64,-0.01,8471.00,0.00,3008475.00,146835.00,62.9,380115.00,...,4799.80,45.00,0.0,45.00,135.00,0.51,0.99,-3.64,0.96,0.0
1,0.0,1.14,-3.94,-0.01,1238.24,0.00,7840080.00,201060.00,31.7,834510.00,...,4201.25,660.00,-4.3,-30.00,195.00,0.47,0.99,-3.94,1.14,0.0
3,0.0,1.20,-3.65,-0.01,356.84,0.01,10427580.00,-25530.00,-3.0,824400.00,...,3764.25,2475.00,385.3,1965.00,6225.00,0.51,0.99,-3.65,1.20,0.0
7,0.0,1.38,-3.84,-0.01,8864.00,0.01,1539900.00,72585.00,121.9,132150.00,...,3365.45,15.00,0.0,0.00,0.00,0.68,0.99,-3.84,1.38,0.0
8,0.0,1.42,-3.84,-0.01,482.27,0.01,14627460.00,-181410.00,-9.1,1807530.00,...,3189.25,3840.00,-12.6,-555.00,1530.00,0.50,0.99,-3.84,1.42,0.0

In [43]:
float_columns = ['putgamma', 'putvega', 'puttheta', 'putdelta', 'pcr', 'putpop%',
        'putchange%',  'putbidprice',
       'putofferprice', 'putintrinsicvalue(fut)', 'putintrinsicvalue(spot)',
       'puttimevalue', 'putltp',  'iv',  'callltp',
       'calltimevalue', 'callintrinsicvalue(spot)', 'callintrinsicvalue(fut)',
       'callbidprice', 'callofferprice',  'callchange%',
        'callpop%', 'calldelta', 'calltheta',
       'callvega', 'callgamma']

In [53]:
for col in float_columns:
    print(col)
    df[col] = df[col].astype(np.float64)

putgamma
putvega
puttheta
putdelta
pcr
putpop%
putchange%
putbidprice
putofferprice
putintrinsicvalue(fut)
putintrinsicvalue(spot)
puttimevalue
putltp
iv
callltp
calltimevalue
callintrinsicvalue(spot)
callintrinsicvalue(fut)
callbidprice
callofferprice
callchange%
callpop%
calldelta
calltheta
callvega
callgamma

In [24]:
df2 = df[['strike','putvega','callvega']]

In [31]:
df2.head()

   strike  putvega  callvega
0   40500     0.96      0.96
1   41000     1.14      1.14
3   41500     1.20      1.20
7   41900     1.38      1.38
8   42000     1.42      1.42

In [47]:
current_strike = 45152
atm_strike =current_strike - current_strike % -50
print(atm_strike)

45200

In [48]:
df2[df2['strike'] >= atm_strike].callvega.sum()

162.69000000000003

In [50]:
df2[df2['strike'] <= current_strike].putvega.sum()

218.91999999999996